.products-section {
  max-width: 1000px;
  margin: auto;
  border-bottom: #e2e2e2 1px solid;
  margin-top: 50px;
  padding-bottom: 50px;
}

.products {
  list-style: none;
  display: flex;
  justify-content: space-between;
  li {
    margin: 3px;
    width: 300px;
    .product-img {
      width: 300px;
      height: 160px;
      background-color: rgb(53, 53, 53);
    }
  }
}

.product-text {
  h2 {
    font-size: 16px;
    font-family: "Georgia";
    font-weight: lighter;
    color: rgb(74, 74, 74);
    text-transform: uppercase;
    line-height: 1.2;
    margin: 25px 0 10px;
  }

  p {
    font-size: 13px;
    font-family: "Georgia";
    font-weight: lighter;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    margin-bottom: 15px;
  }

  button {
    cursor: pointer;
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(255, 255, 255);
    font-weight: lighter;
    line-height: 1;
    background-color: rgb(59, 175, 190);
    padding: 10px;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
  }
}

@media (max-width: 992px) {
  .products-section {
    width: 95%;
  }
  .products {
    flex-wrap: wrap;
    justify-content: space-evenly;
    li {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 768px) {
  .products {
    li {
      .product-img {
        width: 220px;
        height: 115px;
      }
    }
  }
}
